#cotizador{
    padding: 40px 0;
    background: #fff;
    position: relative;
}


.item-services{
    padding: 30px 0;
}

.tb-cotizacion table{
    width: 100%;
}

#direccionEntrega h3 {
    color: #0a0b0d;
}

.contact-form {
    background: #fff;
    padding: 0px 0;
    text-align: center;
}