.info_diseno ul li , .info-web ul li, .info-marketing ul li{
   list-style: disc;
   font-size: 13px;
   
}

.info_diseno, .info-web, .info-marketing{
   margin-left:100px;
}

/*.info_diseno{
   margin-top: 33px;
}*/

.link-landing{
   font-family: 'Raleway', sans-serif;
   color: #333;
   text-decoration: underline;
}


.btn_frm_contact{
   display: block;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 20px;
   background-color: #f9a720;
   color: #ffffff;
   border: 1px solid #ea9d1e;
   width: 100%;
   padding: 8px;
   margin-top: 8px;
}

